.bigImageDiv{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.imageHeader{
    object-fit: cover;
    width: 95vw;
}

.description{
    background-color: #f6e3c3;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}

.description h2{
    font-weight: bold;
    font-style: italic;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.dosPhoto{
    padding: 2rem 2.5rem;
    width:25%;
    border-radius: 100px 0px;
}

.descriptionText{
    padding: 0 5rem;
}
