.description{
    background-color: #f6e3c3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 2rem 0;
}

.imageHeader{
    object-fit: cover;
}

.description h2{
    font-weight: bold;
    font-style: italic;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.mainPhoto{
    padding: 1.5rem 0;
    width: 55%;
    border-radius: 50px 0 50px 0;
}

