.carousel-container {
  position: relative;
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-items {
  display: flex;
  transition: transform 0.3s ease-in-out;
  // background-color: aqua;
  padding: 0 5rem;
}

.carousel-item {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;  /* Largeur de chaque commentaire */
  // // background-color: white; /* Fond blanc pour chaque commentaire */
  // border: 1px solid #ddd; /* Bordure optionnelle */
  border-radius: 0 0 50% 50%;
}
.carousel-item p {
  // flex: 0 0 100%; /* Par défaut, 1 item visible sur mobile */
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 301px; /* Hauteur de chaque commentaire */
  width: 266px;  /* Largeur de chaque commentaire */
  background-color: white; /* Fond blanc pour chaque commentaire */
  border: 1px solid #ddd; /* Bordure optionnelle */
  margin: 2rem;
  border-radius: 0 0 50% 50%;
}
.carousel {
  justify-content: center; /* Centre le contenu du carousel */
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  color: #a3733d;
}
.carousel-items > :not(.carousel-item) {
  display: none; /* Cache les autres commentaires */
}
.left-btn {
  left: -2rem;
}

.right-btn {
  right: -2rem;
}

@media (min-width: 640px) {
  .carousel-item {
    width: 266px; /* Taille fixe pour desktop */
  }
}