.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-items {
  display: flex;
  transition: transform 0.3s ease-in-out;
  padding: 0 5rem;
}

.carousel-item {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.carousel-item p {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 302px;
  width: 267px;
  background-color: white;
  border: 1px solid #CA9479;
  margin: 2rem;
  border-radius: 0 0 50% 50%;
  color: #CA9478;
}
.carousel {
  justify-content: center;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  color: #CA9479;
}
.carousel-items > :not(.carousel-item) {
  display: none; /* Cache les autres commentaires */
}
.left-btn {
  left: 1rem;
}

.right-btn {
  right: 1rem;
}


@media (min-width: 640px) {
  .left-btn {
    left: 10rem;
  }
  
  .right-btn {
    right: 10rem;
  }
}

@media (min-width: 940px) {
  .carousel-item {
    width: 31%; /* Taille fixe pour desktop */
    margin: auto;
    // margin: 1rem;
    // background: rgb(233, 20, 20);
  }
}