footer {
    display: none;
}

@media (min-width: 1025px) {

footer {
    width: 100vw;
    color: #212020;
}

.footerLogo {
    width: 13rem;
}
.footerInfos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6rem;

}
.footerInfos h2 {
    font-weight: bold;
}

.footerInfos h3 {
    padding-bottom: 1rem;
}

.menuLink{
    text-decoration: none;
    color: #212020;
}


footer p {
    text-align: center;
}

.logoReseaux{
    width: 2rem;
    padding-right: 0.5rem;
}

.copyrightFooter{
    border-top: solid #212020 1px;
    padding: 1rem;
}
}