@font-face {
    font-family: 'OpensansItalic';
    src: url('../../assets/font/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/font/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
#headerPhone {
    padding: 1rem 0rem;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    align-content: center;
    background-color: #FEFEFE;
    color: black;
} 

.navList.active {
    right: 0;
    z-index: 10;
    background-color: #FCF3E4;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7rem 0;
    
}

.navList{

    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    font-size: 2.5rem;
    transition: 0.65s;
    text-align: center;
}

.nav-link,.prestlink{
    text-decoration: none;
    color:#CA9479 ;
    font-family: 'Montserrat';
    font-size: 1.9rem;
}

.menu-icon{
    position: fixed; 
    transition: transform 0.5s;
    top:6rem;
    left: 86vw ;
    z-index: 15;
}

.menu-icon span {
    position: absolute;
    left: 1;
    transform: translateX(-50%) translateY(-50%); 
    display: block;
    width: 4rem;
    height: 4px;
    border-radius: 50px;
    z-index: 1;
    background-color: #D5BDAF;
}

.menu-icon span::before, .menu-icon span::after {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-10px);
    display: block;
    width: 4rem;
    height: 4px;
    border-radius: 50px;
    background-color: #D5BDAF;
    transition: transform 0.5s;
}

.menu-icon span::after {
    transform: translateY(10px);
}

.menu-icon.is-opened span { background: transparent; }
.menu-icon.is-opened span::before { transform: translateY(0) rotate(45deg); }
.menu-icon.is-opened span::after { transform: translateY(0) rotate(-45deg); }
.menu-icon.is-opened { transform: rotate(180deg); }

.imageHeader{
    width: 100%;
    height: 40vh;
    padding-bottom: 1rem;
}

.headerLogo{
    width: 8rem;
}

.headerLogoLaptop{
    display: none;
}
.linkDiv{
    display: none;
}
@media (min-width: 640px) {
    #headerPhone {
        display: none;
    }
   
    #headerLaptop{
        display: flex;
        white-space: nowrap;
        width: 100%;
        background-color: #FEFEFE;

    }

    .linkDiv, #headerLaptop img {
        display: flex;
        align-items: center;
    }

    .headerLogoLaptop{
        width: 8rem;
        display: block;
    }

    .logoDiv{
        width: 20%;
        display: inline-block;
        display: flex;
        justify-content: center;
    }

    .linkDiv{
        width: 80%;
        z-index:5;
    }
    .linkDiv ul {
        display: flex;
        align-items: center;
    }

    .linkDiv li {
        padding: 0 1rem;
    }

    .linkDiv li:hover {
        color: #d68d51;
    }

    .nav-link {
        color: #212020;
        text-decoration: none;
        padding: 10px;
        font-size: 1.1rem;
    }

    .nav-link.active {
        border-bottom: #CA9479 solid 2px;
    }

    .dropdown-content{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        justify-content: start;
        text-align: start;
    }
    .dropdown-content li {
        padding: 0.8rem;
        width: 100%;
        transition: background-color 0.5s ease, color 5s ease, opacity 0.5s ease;

    }
    .dropdown-content li:hover {
        opacity: 0.9;
        background-color: #c78e59;
        color: #FEFEFE;
    }
    .linkPrestaDetails{
        text-decoration: none;
        color: #212020;
    }
    .linkPrestaDetails:hover{
        color: #FEFEFE; 
    }
}

@media (min-width: 920px) {
    .linkDiv{
        background-color: #FEFEFE;
        z-index:5;
    }
    .logoDiv{
        width: 30%;
        background-color: #FEFEFE;
        display: inline-block;
        display: flex;
        justify-content: center;
    }
}

@media (min-width:1200px) {
    .logoDiv{
        width: 50%;
    
    }
}
