.retour {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ecb976;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0.5rem 0;
    height: 25vh;
    width: 100vw;
}

.retour h3 {
    position: absolute;
    top: 1rem;
}

#commentGauche{
    position: absolute;
    top: 42%;
    left: 7%;
    width: 4rem;
}
#commentRight{
    position: absolute;
    top: 42%;
    right: 7%;
    transform: rotate(-180deg);
    width: 4rem;
}

.commentaire{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.commentaire div{
    width:32vw;
    background-color: #FCF3E4;
    padding: 3rem 3rem;
    border-radius: 5px;
    min-height: 7rem;
    max-height: 7rem;
}

#name{
    font-weight: bold;
}