.text-header-style{
    position: relative;  
    width: 100%; 
   }
   
   .container-img-text{
       display: flex;
       flex-direction: column;
       width: 100%;
       text-align: center;
   }
   .container-img-text p{
       text-align: start;
       padding: 2rem;
   }
   .container-img-text h4{
       font-size: 2.5rem;
       font-family: 'Open Sans';
       padding-bottom: 1rem;
   }
    .container-img-text img{
        height: 400px;

    }
   
   .text-massage{
        padding: 5rem 0;
       font-size: 1.5rem;
   }
   
   .ligne-prestations{
    position: absolute;
    bottom: 0;
   }

   .first-pic{
       max-height: 600px;
       object-fit: cover;
   }
   

@media (min-width: 640px) {
    .text-header-style{
    position: relative;  
    width: 100%; 
    }

    .container-img-text{        
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
    }
    .container-img-text p{
        text-align: start;
        padding: 2rem;
    }
    .container-img-text h4{
        font-family: 'Open Sans';
        padding-bottom: 0;
    }
    .container-img-text img{
        height: 530px;
    }
    .left{
        background-color: #F7EBE8;
        flex-direction: row-reverse;
    }
    .text-massage{
        padding: 0;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-img-text img{
        width: 50%;
    }
    .first-pic{
        max-height: 600px;
        object-fit: cover;
    }
    .ligne-prestations{
        width: 50%;
        right: 0;
    }
    }
@media (min-width: 920px) {
    .container-img-text h4{
        font-size: 3rem;
        font-family: 'Open Sans';
        padding-bottom: 1rem;
    }
}