@font-face {
    font-family: 'OpensansItalic'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/OpenSans-Italic-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */
src: url('../../assets/font/Fontspring-DEMO-theseasons-bd.otf'); /* Charger le fichier OTF */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Opensans'; /* Nom que vous donnez à la police */
src: url('../../assets/font/OpenSans-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
font-weight: normal;
font-style: normal;
}

.text-soin-visage h2{
    font-size: 2.5rem;
    font-family: "MyCustomFont";
    padding-bottom: 1rem;
}
.text-soin-visage{
    padding: 2rem;
    text-align: center;
}

.neocare-profil{
    width: 100%;
    height: auto;
}

.p-soinNeocare{
    font-family: "Opensans";
    text-align: start;
    font-size: 1.5rem;
    padding: 3rem 3rem;
    line-height: 1.8rem;
}
.soins-picture{
    width: 75%;
    height: 75%;
}
.courbe-place{
    padding-bottom: 13rem;
}
.ventre-picture{
    height: 50%;
}
.bold-devis{
    font-weight: bold;
}
.couture-metre{
    width: 12rem;
}
.p-italique{
    font-family: "OpensansItalic";
}
.text-massage{
    text-align: center;
}
.face-neocare-position-right{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.face-neocare-position-left{
background-color: #FEFEFE ;
}
.picturewoman{
    width:100%;
    height: 50%;
}

@media (min-width: 640px) {
    .courbe-place{
        padding-bottom: 0rem;
    }
    .header-all{
        width: 100%;
    }
    .neocare-profil{
        width: 40%;
        height: auto;
    }
    .prestation-titre{
        // background-color: aqua;
        width: 50%;
    }

    .face-neocare-position-left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .face-neocare-position-right{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .face-neocare-position-left img{
        width: 50%;
    }
    .face-neocare-position-right img{
        width: 50%;
    }
    .text-massage{
        width: 50%;
    }
}
@media (min-width: 1200px) {
   
    .soins-picture{
        width: 30%;
        height: 30%;
    }
    .neocare-profil{
        width: 30%;
        height: auto;
    }

}