@font-face {
    font-family: 'OpensansItalic'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/OpenSans-Italic-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/Fontspring-DEMO-theseasons-bd.otf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Opensans'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/OpenSans-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
    .text-header-style{
    position: relative;  
    width: 100%; 
   }
   .text-header-style p{
    position: relative;  
    width: 100%; 
    font-family: 'OpensansItalic';
    
   }
   
   .container-img-text{
       display: flex;
       flex-direction: column;
       width: 100%;
       text-align: center;
   }
   .container-img-text p{
        text-align: start;
        padding: 2rem;
        font-family: 'Opensans'; /* Nom que vous donnez à la police */
   }
   .container-img-text h4{
       font-size: 2.1rem;
       font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */
       padding: 1rem 1rem 1rem 1rem;
   }
   .text-massage{
        padding: 5rem 0;
       font-size: 1.5rem;
   }
   
   .ligne-prestations{
    position: absolute;
    bottom: 0;
   }
   .place-courbe{
    padding-bottom: 13rem;
   }

   .first-pic{
       max-height: 600px;
       object-fit: cover;
   }
   

@media (min-width: 640px) {
    .text-header-style{
        position: relative;  
        width: 100%; 
    }
    .place-courbe{
        padding-bottom: 0rem;
    }
    #hanche{
        height: 80%;
    }
    .header-accueil soins{
        width: 50%;        
    }
    .background-header{
        width: 30%;
        height: 20%;
    }
    .container-img-text{        
        display: flex;
        flex-direction: row;
        // width: 100%;
        // height: 30vh;
        text-align: center;
    }
    .container-img-text p{
        text-align: start;
        padding: 0 2rem 2rem 2rem;
    }
    .container-img-text img{
        width: 50%;
    }

    .left{
        background-color: #F7EBE8;
        flex-direction: row-reverse;
    }
    .text-massage{
        padding: 0;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .container-img-text img{
        min-width: 50%;
        // object-fit: cover;
        // height: 560px;
    }
    .first-pic{
        max-height: 600px;
        object-fit: cover;
    }
    .ligne-prestations{
        width: 50%;
        right: 0;
    }
    }
@media (min-width: 920px) {
    .container-img-text h4{
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    .container-img-text img{
        min-width: 50%;
        object-fit: cover;
        // height: 600px;
    }
}
// @media (min-width: 1200px) {
//     .picturewoman{
//         width: 20%;
//         // height: 50%;
//     }
// }