@font-face {
    font-family: 'Montserrat'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/Montserrat-VariableFont_wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }

.footerNav {
    background-color: #F5ECE5 ;
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    // position: relative;
}
.left-footer{
    background-color: #FEFEFE;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.footer-noimage{
    width: 100%;
}
.right-footer{
    line-height: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.footerLogo {
    width: 9rem;
}

.reseaux{
    width: 1rem;
    text-decoration: none;
}

.page-network{
    padding: 1rem 1.5rem;

}

.link-text{
    color: #905631;
    text-decoration: none;
    font-family: 'Montserrat'; /* Nom que vous donnez à la police */

}
.footer-noimage{
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
}
.madeBy{
    position: absolute;
    bottom: 0.5rem;
    left: 23%;
    color: #b99983;
}

@media (min-width: 640px) {
    .right-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 15px;

    }
    .left-footer{
        width:50%;
        padding: 2rem 0;
    }

}