
.footerNav {
    background-color: #F5ECE5 ;
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;

}
.left-footer{
    background-color: #FEFEFE;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.right-footer{
    background-color: #F7EBE8;
    width: calc(70vw);
    line-height: 25px;
    display: flex;
    flex-direction: row;
}
.footerLogo {
    width: 8rem;
}

.reseaux{
    width: 1rem;
    text-decoration: none;
}

.page-network{
    padding: 1rem 1.5rem;
    color: #beb317;

}

.link-text{
    color: #905631;
    text-decoration: none;
}