@font-face {
    font-family: 'OpensansItalic'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/OpenSans-Italic-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/Fontspring-DEMO-theseasons-bd.otf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Opensans'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/OpenSans-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }

.font-bold{
    font-weight: bold;
}  
.divContact{
    font-family: Opensans;
    padding: 1rem 2rem;
}
.divContactPadding{
    padding: 2rem 0;
}
.contact{
    background-color: #FFFFFF;
    color: #242424;
    text-align: center;
    display: flex;
    justify-content: center;
}
.contact h3{
    font-size: 2rem;
    font-family: MyCustomFont;
}

.interligne{
    line-height: 1.5rem;
}
.image-contact{
    width: 15%;
    padding-bottom: 0.5rem;
}
.italique-texte{
    font-style: italic;
    font-family: OpensansItalic;
}
.italique-centrer{
    padding-top: 2rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 820px) {
    .text-header-style{
        padding-top: 3rem;
    }
    .contact{
        background-color: #FEFEFE;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
    }
    .contact h3{
        font-size: 2.5rem;
        font-family: MyCustomFont;
    }
    .text-header-style{
        width: 55%;
    }
    .ligne-header-laptop{
        position: absolute;
        display: block;
        width: 600px;
        bottom: 0;
        right: 0;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1590px) {

}
