@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */
  src: url('../../assets/font/Fontspring-DEMO-theseasons-bd.otf'); /* Charger le fichier OTF */
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #FCF3E4;
  font-family: Helvetica, Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  // width: 100%;
  // overflow-x: hidden;
  // padding: 0 1.5rem;
  color: #905631;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

@media (max-width: 640px) {
  body {
      width: 100%;

  }
}