@font-face {
    font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/Fontspring-DEMO-theseasons-bd.otf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Opensans'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/OpenSans-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'OpensansItalic'; /* Nom que vous donnez à la police */
    src: url('../../assets/font/OpenSans-Italic-VariableFont_wdth\,wght.ttf'); /* Charger le fichier OTF */
    font-weight: normal;
    font-style: normal;
  }

// pour les photos
// .imageHeader{
//     object-fit: cover;
//     width: 95vw;
// }

.descriptionText{
    padding: 1rem 22px;
    font-size: 16px;
}

.header-accueil{
    background-color: #F7EBE8;
    position: relative;
    padding-bottom: 6rem;
}

.header-accueil h2{
    font-size: 4rem;
    color: #9F694E;
    font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */
    text-align: center;
    line-height: 4rem;
    padding: 1rem 0;
}
.header-accueil p{
    text-align: center;
    padding: 1rem 4.5rem;
    font-size: 1.5rem;
}
.header-accueil button{
    display: block;
    text-align: center;
    background-color: #CA9479;
    border: none;
    padding: 0.7rem 1.8rem;
    color: white;
    margin: 2rem auto;
}

//A changer selon les gouts
.background-header{
    width: 100%;
    height: 60vh;
}
.background-header-front{
    border: 1px solid #CA9479;
    border-radius: 50% 50% 0 0;
    width: 70%;
    position: absolute;
    right: 0;
    top: 1.5rem;
    background-color: aqua;
}
.text-header-style button{
    background-color: rgb(167, 123, 98);
    border-radius: 3px;
}
.text-header-style button:hover{
    background-color: rgb(167, 123, 98);
    color: #ffffff;
}
.ligne-header{
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 300px;
}
.ligne-header-laptop{
    display: none;
}
.presentation-owner{
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation-text h3 {
text-align: center;
}
.self-picture{
    width: 50%;
    padding: 5rem 0;
    margin-left: 1rem ;
}
.presentation-text{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.8rem;
    font-family: 'Opensans';
}

.presentation-text h3{
    font-size: 2rem;
    font-family: 'MyCustomFont', sans-serif;
    padding: 0 0 1rem 0;
}
.presentation-text p{
    padding: 0.5rem 0;
    font-family: 'Opensans';
}
.prestations-div h5{
    font-family: 'MyCustomFont'; /* Nom que vous donnez à la police */

}
.buttonDecouvrir{
    text-decoration: none;
    color: #FEFEFE;
}

footer section{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem ;
}
footer section h3{
    font-size: 3rem;
    font-family: 'MyCustomFont', sans-serif;
    padding: 1rem 0 0.5rem 0;
}
footer section h4{
    font-style: italic;
    font-family: 'Open Sans';
    font-size: 1.4rem;
}
footer section h5{
    font-family: 'Open Sans';
    font-size: 1.7rem;
}
footer section span{
    border-bottom: solid 1px black ;
    width: 60%;
    text-align: center;
    margin: 1rem auto;
}
footer section img{
    border: 1px solid #CA9479;
    border-radius: 50% 50% 0 0;
    width: 265px;
    height: 300px;
    object-fit: cover; 
    display: block;
    margin: 1rem auto;
}
footer section button{
    text-align: center;
    background-color: #CA9479;
    border: none;
    padding: 1rem 2rem;
    color: white;
    margin: 1rem auto;
    text-decoration: none;
    border-radius: 4px;
}

.flower{
    display: none;
}
.text-header-style{
    padding-top: 2rem;
}
@media (min-width: 640px) {
    .background-header-front{
        width: 370px;
        left: 6rem;
        top: 3.5rem;
    }
    .presentation-owner{
        flex-direction: row;
    }
    .presentation-text h3 {
        text-align: start;
        }
    .ligne-header{
        display: none;
    }
    .ligne-header-laptop{
        position: absolute;
        display: block;
        width: 300px;
        // background-color: aqua;
        bottom: 0;
        right: 0;
    }
    .header-accueil me{
        display: flex;
        flex-direction: row;
        padding: 0 ;
        padding-bottom: 13rem;
    }
    .header-accueil h2{
        padding-top: 3rem;
    }
    .text-header-style{
        margin-left: 6rem;
        width: 50%;
        font-size: 1rem;
    }
    .text-header-style p{
        padding: 1rem;
        padding-left: 25%;
        text-align: start;
    }

 
    .flower{
        display: block;
        width: 25%;
        object-fit: cover;
    }

    .background-header{
        width: 18rem;
        height: 40vh;
    }
    .self-picture{
        width: 25%;
        // margin-left: 2rem;
    }
    .presentation-text{
        padding: 1rem 1rem;
    }
    .presentation-text h3{
        font-size: 3rem;
        padding: 0 0 1rem 0;
    }
    .presentation-text p{
        font-size: 1.3rem;
    }
    .prestations{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .prestations-div{
        // width: 20%;
        display: flex;
        flex-direction: column;
    }
    .header-accueil h2{
        text-align: start;
        display: flex;
        padding-left: 25%;
    }
}
@media (min-width: 820px) {
    .header-accueil{
        display: flex;
        flex-direction: row;
        padding: 0 ;
        padding-bottom: 13rem;
    }
}
@media (min-width: 920px) {
    .self-picture{
        width: 25%;
        margin-left: 2rem;
    }
    .presentation-text h3{
        font-size: 4rem;
        padding: 0 0 1rem 0;
    }
    .presentation-text p{
        font-size: 2rem;
    }
    .presentation-text{
        padding: 3rem 3rem;
    }
    .header-accueil h2{
        text-align: start;
        display: flex;
        padding-left: 25%;
    }
    .ligne-header-laptop{
        position: absolute;
        display: block;
        width: 420px;
        bottom: 0;
        right: 0;
    }
    .header-accueil{
        display: flex;
        flex-direction: row;
        padding: 0 ;
    }
    .header-accueil button{
        display: block;
        text-align: center;
        background-color: #CA9479;
        border: none;
        padding: 0.7rem 1.8rem;
        color: white;
        margin: 2rem auto;
    }
    .background-header{
        width: 20rem;
        height: 40vh;
    }
}
@media (min-width: 1200px) {
    .background-header{
        width: 25rem;
        // height: 65vh;
    }
    
}
@media (min-width: 1700px) {
    .background-header{
        width: 15%;
        height: 15%;
    }
    .background-header-front{
        width: 25%;
    }
}